/* --- BASICS --- */

body {
  font-family: 'Raleway', serif;
  font-size: 10px !important;
  background-color: #222222 !important;
  color: #eeeeee !important;
  letter-spacing: 1px;
  margin: 0px;
  text-align: center;
}

@media (min-width: 800px) {
  body {
    font-size: 18px !important;
    padding-top: 5%;
  }
}

a {
  color: #eeeeee !important;
  text-decoration: none !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: #26bf80 !important;
  text-decoration: none !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.incontainer {
  padding-left: 5%;
  padding-right: 5%;
  width: 75%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* --- NAVIGATION BAR --- */

.bg-dark {
  background-color: #222!important;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 25px!important;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px #26bf80;
}

.nav-link {
  font-family: 'Rajdhani', serif!important;
  font-size: 25px!important;
  text-transform: lowercase;
}

/* --- HEADER --- */

#header {
  padding-top: 15%;
  padding-bottom: 20%;
}

.htitle {
  font-family: 'Roboto Slab', serif;
  font-size: 6em;
  font-weight: normal;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px #26bf80;
  line-height: 75%;
}

@media (min-width: 800px) {
  .htitle {
    font-size: 10em;
  }
}

.present {
  font-size: 10px;
  font-style: italic;
  letter-spacing: 2px;
}

@media (min-width: 800px) {
  .present {
    font-size: 14px;
  }
}

.desc {
  margin-top: -10px;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .desc {
    margin-top: -20px;
    font-size: 16px;
  }
}

.info {
  margin-top: 5px;
  font-family: 'Roboto Slab', serif;
  border-top: 1px solid #eee;
  font-size: 14px;
  padding: 5px;
}

@media (min-width: 800px) {
  margin-top: 15px;
  font-size: 30px;
  padding: 50px;
}

.register {
  margin-top: -20px;
  background: #338060;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #fff;
  width: 150px !important;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.register a {
  color: #fff !important;
  font-size: 25px !important;
  text-shadow: 0px 0px 10px #26bf80 !important;
}

.register:hover {
  background: #26bf80 !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* --- ABOUT --- */

#about {
  padding-top: 50px;
  padding-bottom: 250px;
}

.mtitle {
  font-family: 'Rajdhani', serif;
  font-size: 16px;
  color: #26bf80;
  text-transform: lowercase;
  text-align: left;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  font-size: 30px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.stitle {
  font-family: 'Rajdhani', serif;
  font-size: 14px;
  color: #338060;
  text-transform: lowercase;
  text-align: left;
  padding: 0px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  font-size: 25px;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* --- SCHEDULE --- */

#schedule {
  padding-top: 50px;
  padding-bottom: 250px;
}

table {
  width: 100%;
  max-width: 800px;
}

th, td {
  text-align: left;
  padding: 5px;
}

@media (min-width: 800px) {
  th, td {
    padding: 10px;
  }
}

tr {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

tr:hover {
  background: #333;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

col:first-child {
  font-weight: bold!important;
}

/* --- SPONSORS --- */

#sponsors {
  padding-top: 15%;
  padding-bottom: 20%;
}

/* --- FAQ --- */

#faq {
  padding-top: 15%;
  padding-bottom: 20%;
}

.questions {
  display: inline-block;
}

@media (min-width: 800px) {
  .questions {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
  }
}

.question {
  width: 100%;
  font-size: 10px;
}

@media (min-width: 800px) {
  .question {
    padding: 10px;
    max-width: 400px;
    font-size: 14px!important;
    display: block!important;
  }
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 14px!important;
}

@media (min-width: 800px) {
  font-size: 18px!important;
}

/* --- CONTACT --- */

#contact {
  padding-top: 50px;
  padding-bottom: 250px;
}

.ficons {
  padding-top: 20px;
  font-size: 25px;
  letter-spacing: 10px;
}

@media (min-width: 800px) {
  .ficons {
    font-size: 50px;
  }
}

.fab {
  display: inline-block;
}

/* --- COPYRIGHT --- */
.copyright {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 8px!important;
}

@media (min-width: 800px) {
  font-size: 12px!important;
}
