/* --- BASICS --- */

body {
  font-family: 'Raleway', monospace;
  font-size: 14px !important;
  background-color: #222 !important;
  color: #ccc !important;
  letter-spacing: 1px;
  margin: 0px;
  padding-top: 100px;
  text-align: left;
}

.tcontainer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 75%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.titlebox {
  width: 100%;
  max-width: 700px;
  height: 100px;
  text-align: left;
}

.timage {
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
  border: 2px dashed #A69CAC;
  border-radius: 50%;
  z-index: 100;
}

.titletext {
  position: relative;
  margin-left: 25px;
  padding-left: 60px;
  padding-top: 2px;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, rgba(71, 73, 115, 1), rgba(255, 0, 0, 0));
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #A69CAC;
  text-shadow: 2px 2px 5px #222;
}

.desctext {
  margin-top: -25px;
  margin-left: 25px;
  padding: 0px 35px 5px 35px;
  border-left: 2px dashed #A69CAC;
}
